.klinika{
  &__container{
    max-width: 1134px;
    margin-bottom: 181px;
  }

  &__text{
    max-width: 763px;
    text-align: center;
    font-weight: 400;
font-size: 20px;
line-height: 26px;
text-align: center;
letter-spacing: $font;
color: #949494;
margin-right: auto;
margin-left: auto;
display: flex;

  }
  &__block::before{
    content: "";
    width: 55px;
    height: 55px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    flex-shrink: 0;
    background-image: url("../../img/kl1.svg");
  
  }
  &__block::after{
    content: "";
    width: 55px;
    height: 55px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    flex-shrink: 0;
    background-image: url("../../img/kl2.svg");
  margin-left: auto;
  }
  &__line1{
    width: 140px;
    height: 1px;
    background-color: #DBDBDB;
    margin-right: auto;
    margin-left: auto;
    margin-top: 21px;
  }
  &__line2{
    width: 140px;
    height: 1px;
    background-color: #DBDBDB;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  &__text2{
    max-width: 357px;
    font-weight: 500;
font-size: 21px;
line-height: 26px;
letter-spacing: $font;
color: #070707;
margin-right: auto;
margin-left: auto;
  }
  

}
@media only screen and (max-width:850px){
  .klinika{
    &__block::before{
      width: 45px;
      height: 45px;
    }
    &__block::after{
      width: 45px;
      height: 45px;
      
    } 
    
  &__text{
    max-width: 600px;
  }
  &__container{
    margin-bottom: 141px;
  }
  }
}
@media only screen and (max-width:630px){
  .klinika{
    &__line1{
      width: 90px;
      margin-top: 81px;
    }
    &__line2{
      width: 90px;
      margin-top: 25px;
      margin-bottom: 25px;
    } 
    &__container{
      margin-bottom: 121px;
    }
    &__text{
      max-width: 500px;
      text-align: center;
      font-weight: 400;
  font-size: 17px;
  line-height: 26px;

    }
    &__block::before{
      width: 30px;
      height: 30px;
    }
    &__block::after{
      width: 30px;
      height: 30px;
      
    } 
  }
}
@media only screen and (max-width:454px){
  .klinika{
    &__line1{
      width: 70px;
      margin-top: 81px;
    }
    &__line2{
      width: 90px;
      margin-top: 25px;
      margin-bottom: 22px;
    } 
    &__container{
      margin-bottom: 115px;
    }
    &__text{
      max-width: 350px;
      text-align: center;
      font-weight: 400;
  font-size: 13px;
  line-height: 26px;

    }
    &__text2{
      max-width: 270px;
  font-size: 15px;
    }
    
  }
}
